.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

/bin/

/Libs/

.svn/

\.cache/

.cache/

\.appium.log

\.classpath

\.project

\.settings/

bin/lib/

Libs/

*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*